<% include partials/header %>
<DIV class="container text-center" style="margin-top:15%">
    <h1><strong>Welcome To Yelpcamp</strong> </h1>

    <a class="btn btn-block btn-primary" style="width: 30%;margin: 5% 35%;" href="/campgrounds">View All Campgrounds</a>
</DIV>









